


.thirdview {
position: absolute;
top: 90px;
left:82%;
height: 100%;
width:20%;
box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0);
}

.ngview {
position: absolute;
top: 70px;
height: 50%;
width:60%;
margin-left: 20px;
margin-top: 20px;
box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0);
}

path {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}
title {
    fill: red;
}
.circleBase {
    border-radius: 50%;
}
.type {
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 1px solid #000;
}

